# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=arqaos

# Make this the same as your github username/organisation
REPO_ORGANIZATION=Arqa-Core

IMAGE_DESC="Arqa OS Image"
IMAGE_KEYWORDS="bootc,oci,linux"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/295203770?s=400&u=f38703e939523132b4a2bbf25334e798fe11798a&v=4"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
